:root
{
    --slide-overlay-color:rgba(0, 0, 0, 0.413) 100%, rgba(0, 0, 0, 0.876)100%;
    --melissa-bg-color:#f17901;
    --easybank-bg-color:#1b383e;
    --todo-bg-color:#061230;
    --movie-bg-color:#000b14;
    --forecast-bg-color:#250026;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide-container
{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide
{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}
.left-slide > div
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease-in-out;
}

.left-slide > h1
{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.left-slide > .movie-api
{
    background-color: var(--movie-bg-color);
    color: white;
    font-weight: 700;
}

.left-slide > .quotes-api
{
    background-color: var(--todo-bg-color);
    color: white;
    font-weight: 700;
}

.left-slide > .easybank
{
    background-color: var(--easybank-bg-color);
    color: white;
    font-weight: 700;
}

.left-slide > .todo-list
{
    background-color: var(--todo-bg-color);
    color: white;
    font-weight: 700;
}

.left-slide > .melissa
{
    background-color: var(--melissa-bg-color);
    color: white;
    font-weight: 700;
}

.left-slide > .forecast
{
    background-color: var(--forecast-bg-color);
    color: white;
    font-weight: 700;
}
/* --- */

.right-slide
{
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    left: 35%;
    transition: transform .5s ease-in-out;

}

.right-slide > div 
{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%; 
}

/* Image Slides */
.right-slide > .todo-list
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/todo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.right-slide > .easybank
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/easybank.png);
    background-repeat: no-repeat;
    background-size: center;
    background-position: top;
}

.right-slide > .quotes-api
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/quotes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.right-slide > .movie-api
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/movie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right-slide > .melissa
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/melissa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right-slide > .forecast
{
    background: linear-gradient(var(--slide-overlay-color)),  url(../web_images/forecast.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* Buttons */

.material-icons
{
   position: absolute;
   left: 35%;
   top: 50%; 
   background-color: white;
   border: none;
   border-radius: 10px;
   padding: 15px;
   color: rgb(57, 53, 53);
   z-index: 100;
   cursor: pointer;
}


.material-icons:hover
{
    background-color: rgb(2, 56, 56);
    color: white;
    transition: all 500ms ease-in;
    transition: all 500ms ease-out;
}


.down
{
    transform: translateX(-100%);
}

.up
{
    transform: translateY(-100%);
}

/* Media */

@media screen and (max-width: 755px)
{
  *
  {
    text-align: center;
  }

  .left-slide
  {
    width: 45%;
  }

  .right-slide
  {
    width: 55%;
    left: 45%;
  }

  .material-icons
  {
    left: 40%;
    top: 60%;
    padding: 2px;
    z-index: 90;
  }

  h1
  {
    font-size:20px ;
    text-align: center;
  }
  p
  {
    font-size: 12px;
    text-align: center;
  }
}